*{
    margin: 0px;
    padding: 0px;
    font-family: inter;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top{
    background-color: #ffcd9e;
    margin: 0px;
    display: flex;
    width: 1440px;
    height: 592px;
}

.top-left{
    padding:60px;
    padding-left: 90px;
}

.top-right{
    width: 575x;
    height: 575px;
    top: 20px;
    left: 818px;
    padding: 0px;
    padding-left: 130px;
}

h1{
    width: 562px;
    height: 108px;
    top: 83px;
    left: 136px;
}

#p1{
    width: 495px;
    height: 81px;
    top: 219px;
    left: 136px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

#p2{
    width: 227px;
    height: 81px;
    top: 315px;
    left: 136px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 60px;
}

input{
    

    border-radius: 8px;
    border: 4px;
    border: 2px solid #000000;
    padding: 10px 16px;
    font-family: var(--font-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 4px;
    color: #888888;
}

#button-top{
    font-family: var(--font-color);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #282828;
    border-radius: 8px;
    padding: 15px 22px;
    color: #ffffff;
    margin-bottom: 4px;
}

#p3{
    width: 344px;
    height: 61px;
    top: 479px;
    left: 134px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding-top: 23px;
}



.bottom{
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    /* padding: 70px; */
    width: 1440px;
    height: 298px;
    top: 592px;

}

.lists-left{
    color: white;
    width: 216px;
    height: 36px;
    top: 654px;
    left: 191px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding-left:9%;
    padding-top: 3%;
}

.lists-right{
    color: white;
    width: 216px;
    height: 36px;
    top: 654px;
    left: 191px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: right;
    padding-right:12%;
    padding-top: 3%;
}


